README.txt
.classpath
.gradle/2.0/taskArtifacts/cache.properties
.gradle/2.0/taskArtifacts/cache.properties.lock
.gradle/2.0/taskArtifacts/fileSnapshots.bin
*.bin
.gradle/gradle.log
.project
.settings/org.eclipse.jdt.core.prefs
bin/eclipse/.metadata/.log
bin/eclipse/.metadata/.lock
bin/eclipse/.metadata/.mylyn/repositories.xml.zip
bin/eclipse/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
bin/eclipse/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
bin/eclipse/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
*.log
bin/eclipse/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
bin/gradlew.bat
gradlew
*.txt
gradle/wrapper/gradle-wrapper.jar
eclipse/.metadata/.lock
bin/install.bat
bin/lib/ironchest-1.7.10-6.0.62.742-deobf.jar
bin/src/main/resources/assets/remote_bag/lang/en_US.lang
bin/src/main/resources/assets/remote_bag/lang/ja_JP.lang
bin/src/main/resources/assets/remote_bag/models/item/enderremotebag.json
bin/src/main/resources/assets/remote_bag/models/item/remotebag.json
eclipse/.metadata/.plugins/org.eclipse.debug.core/.launches/Server.launch
eclipse/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
*.prefs
*.xml
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
*.launch
eclipse/.metadata/.plugins/org.eclipse.core.resources/1.snap
*.properties
eclipse/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
eclipse/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
*.resources
eclipse/.metadata/.mylyn/repositories.xml.zip
*.png
eclipse/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
*.info
eclipse/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
eclipse/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
eclipse/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
eclipse/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
*.index
*.class
*.lang
*.json
eclipse/.metadata/version.ini
*.default
eclipse/.metadata/.plugins/org.eclipse.team.cvs.core/.running
eclipse/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark